/* GAME */

.game {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 8rem;
}

h2.turn {
	text-decoration: underline;
}

.top {
	height: 10vh;
	display: flex;
	width: 100%;
	align-items: flex-end;
}

.top.captures {
	width: calc(var(--square-size) * 6);
}

.top h2 {
	width: calc(var(--square-size) * 2);
}

.details {
	height: 80vh;
	width: 100%;
	display: flex;
	gap: 4rem;
	justify-content: flex-start;
}

.history {
	position: relative;
	width: calc(var(--square-size) * 8);
	border: solid 1px var(--board-light);
	overflow-y: auto;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.row.gray {
	background-color: rgb(86, 86, 86);
}

.row div {
	width: 30%;
}

.bottom {
	display: flex;
	height: 10vh;
	width: 100%;
	gap: 4rem;
}

.bottom .player-info h2 {
	width: calc(var(--square-size) * 2);
	height: 5vh;
}

.player-info {
	display: flex;
	width: calc(var(--square-size) * 8);
}

.buttons-game {
	display: flex;
	justify-content: flex-end;
	width: calc(var(--square-size) * 8);
}

.buttons-game button {
	width: 100px;
	height: 40px;
}

.captures {
	display: flex;
	gap: 1rem;
	position: relative;
	width: calc(var(--square-size) * 6);
	height: 5vh;
}

.captures div {
	position: relative;
}

.captures div img {
	height: 5vh;
	width: 5vh;
}
