:root {
	--board-dark: #779557;
}

.modal {
	position: absolute;
	padding: 2rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--board-dark);
	width: 70%;
	height: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.modal button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: #3f4f3f;
	color: white;
	font-size: 1rem;
	cursor: pointer;
}
